<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>bemacash</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../totvsteste/library/css/my.css"/>
        <link rel="stylesheet" href="../totvsteste/library/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../totvsteste/library/css/bootstrap-theme.min.css"/>
    <script type="text/javascript" src="../totvsteste/library/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../totvsteste/library/js/jquery-ui.js"></script>
    <script type="text/javascript" src="../totvsteste/library/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../totvsteste/library/js/main.js"></script>
    </head>
    <body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="?page=tarefas">Bemacash</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Pedidos</a></li>
                
            </ul>
        </div>
    </nav>
        
